<style>
head {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 50px;
  text-align: center;
  border-bottom: 5px solid DimGray;
  margin: 0px;
  padding:20px;
}
h1 a {color: black; font-family:"Satisfy"; font-size: 77px;}
ol {
  font-size: 30px;
  font-style: normal;
  font-family: "Yanone Kaffeesatz";
  width: 120px;
  padding:20px;
  margin: 0px;
  border-right: 5px solid DimGray;
}
li {
  padding-bottom: 15px;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
#intro {
  padding-left: 0.45px;
  text-align: left;
  font-size: 20px;
}
#grid #made {
  text-align: right;
  font-size: 15px;
  padding-right: 10px;
}
#grid {
  display: grid;
  grid-template-columns: 190px 1fr 4fr;
}
#grid ol {
  padding-left: 45px;
  padding-top: 20px;
  padding-right: 20px;
  color: black;
  text-decoration: none;
}
#disqus_thread {
  margin-left: 50px;
}
h3 {
  padding-top: 5px;
  padding-left: 80px;
  line-height: 70px;
  text-align: left;
  padding-bottom: none;
}
h2 {
  font-size: 30px;
  line-height: 63px;
  margin-top: 20px;
  padding-left: 80px;
}
</style>
